config simple_mesh 'main'
	option enabled '1'
	option mqtt_broker '127.0.0.1'
	option mqtt_port '1883'
	option mqtt_client_id 'mesh_controller'
	option mode 'controller'

# WiFi配置参数
config commit_cmd 
	option id 'apply_network'
	option description '生效网络配置'
	option cmd_set '/etc/init.d/network restart'

config commit_cmd 
	option id 'apply_wifi'
	option description '生效WIFI配置'
	option cmd_set 'uci commit wireless && wifi reload'

config data_cmd 'wifi_2g_ssid'
	option description '获取和设置WiFi SSID'
	option cmd_get 'uci get wireless.wlan0.ssid'
	option cmd_set 'uci set wireless.wlan0.ssid=$sync_data'

config data_cmd 'wifi_2g_password'
	option description '获取和设置WiFi密码'
	option cmd_get 'uci get wireless.wlan0.key'
	option cmd_set 'uci set wireless.wlan0.key=$sync_data'

config data_cmd 'wifi_2g_encryption'
	option description '获取和设置WiFi加密方式'
	option cmd_get 'uci get wireless.wlan0.encryption'
	option cmd_set 'uci set wireless.wlan0.encryption=$sync_data'

config data_cmd 'wifi_5g_ssid'
	option description '获取和设置WiFi SSID'
	option cmd_get 'uci get wireless.wlan1.ssid'
	option cmd_set 'uci set wireless.wlan1.ssid=$sync_data'

config data_cmd 'wifi_5g_password'
	option description '获取和设置WiFi密码'
	option cmd_get 'uci get wireless.wlan1.key'
	option cmd_set 'uci set wireless.wlan1.key=$sync_data'

config data_cmd 'wifi_5g_encryption'
	option description '获取和设置WiFi加密方式'
	option cmd_get 'uci get wireless.wlan1.encryption'
	option cmd_set 'uci set wireless.wlan1.encryption=$sync_data'
